<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Top Donors Report</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Total row Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${rows}">
                    <td th:text="${row.firstName}"></td>
                    <td th:text="${row.lastName}"></td>
                    <td th:text="${row.yearDonated}"></td>
                    <td th:text="${row.monthDonated}"></td>
                   <td th:text="${row.totalDonated}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>